* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: #B3B3B3;
    --btn-color: #25D366;
    --bg-text: #000000;
    --bg-color2: #919191;
}

header {
    padding: 66px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.home{

    & .title{
        display: flex;
        justify-content: space-between;
        padding: 89px 183px;
        font-size: 56px;
        margin: 14px 18px;
        font-weight: 500;

        & h1, p{
            font-weight: 500;
            font-size: 56px;
        }


    }

    & .content{
        display: flex;
        margin: 88.95px;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
        


            }
        }

.contact{
    display: flex;
    flex-direction: column;
    gap: 121px;
    align-items: center;
    background-color: var(--bg-color2);
    padding: 76px;

    & h2{
        font-size: 56px;
        font-weight: normal;
    }

    & a{
        font-size: 56px;
        color: var(--bg-text);
        background-color: var(--btn-color);
        padding: 10px 45px ;
        border-radius: 100px;
        text-align: center;
    }
}

footer {
    display: flex;
    align-items: center;
    gap: 77px;
    padding: 121.5px;
    justify-content: space-between;
    
    & .sobreNos{
        display: flex;
        flex-direction: column;
        gap: 19px;
        width: 291px;

        & p{
            font-size: 14px;
            line-height: 38px;
        }
    }
    & .entreEmContato{
        display: flex;
        flex-direction: column;
        gap: 33px;
        width: 321px;
        

        & .contatos{
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 14px;

        & a{
            text-decoration: underline;
            color: var(--bg-text);
        }
        }
    }
}

@media screen and (max-width: 900px) {
    footer {
        flex-direction: column;
    }
}